.png filter=lfs diff=lfs merge=lfs -text
.xcf filter=lfs diff=lfs merge=lfs -text
*.png filter=lfs diff=lfs merge=lfs -text
*.xcf filter=lfs diff=lfs merge=lfs -text
10946/FLANPOSTER.xcf filter=lfs diff=lfs merge=lfs -text
